h1 a {
    text-decoration: none;
}

a {
    color: black;
}

div#top_spacer {
    height: 20px;
}


ul#menu {
    list-style-type: none;
}

ul#menu li {
    font-weight: bold;
    font-size: 18px;
    margin-left: 0px;
}

ul#menu li a {
    text-decoration: none;
}


