h1 a {
    text-decoration: none;
}

a {
    color: #00A651;
}

a:hover {
    color: #ed145b;
}

div#top_spacer {
    height: 20px;
}


ul#menu {
    list-style-type: none;
    margin-top: 20px;
}

ul#menu li {
    font-weight: bold;
    font-size: 25px;
    margin-left: 0px;
}

ul#menu li a {
    text-decoration: none;
    font-family: Arial Black;
    color: black;
}

ul#menu li a:hover {
    text-decoration: none;
    font-family: Arial Black;
    color: #ed145b;
}


