#post_title {
    margin-bottom: 0px;
    font-family: Arial Black;
}

#post_title a {
    text-decoration: none;
    color: #00a651;
}

#post_date {
    margin-bottom: 15px;
}

div.post {
    margin-bottom: 40px;
}

div.post p {
    margin-bottom: 7px;
}
