{% load util_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transistional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html" charset=utf-8"/>
		<title>Jam Regis</title>
		
		<link rel="stylesheet" type="text/css" media="all" href="/media/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/text.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/960.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/base.css" />
        {% block header %}{% endblock %}

	</head>
	
	<body>
	    <div class="container_16">
	  
	    <div class="grid_16" id="top_spacer"></div>
	    
	    <div class="grid_5" id="left_container">
            <img src="{% random_image "images/headers/" %}" />
                        
		    <a href="/"><img src="/media/images/thatgaljam.png"></a><br />
		    <ul id="menu">
		        <li><a href="/">home</a></li>
                <li><a href="/articles/cv/">cv</a></li>
                <li><a href="/articles/what-i-do/">what i do</a></li>
		        <li><a href="/category/published/">published words</a></li>
		        <li><a href="/photos/art-attack/">art attack</a></li>
		        <li><a href="/category/moving-images/">moving images</a></li>
		        <li><a href="/category/things/">thing o' the moment</a></li>
		        <li><a href="/articles/linkage/">linkage</a></li>
		        <li><a href="/contact/">contact</a></li>
		    </ul>
		 		    
        </div>
	    
	    <div class="grid_11" id="container_right">
				
		    <div class="grid_1">&nbsp</div>
		
		    <div class="grid_11">
		        {% block content %}{% endblock %}
		    </div>
		
		    </div>
        </div>
        
	
	</body>
</html>
